<div class="container">
    <h2 class="text-center my-4">This is round number {{ round_number }}. The outcome of which coin would you like to reveal?</h2>

    <form method="post">
        <div class="d-flex justify-content-center mb-3">
            <div class="btn-group-toggle" data-toggle="buttons">
                {% if coin_order == 'fair-left' %}
                    <label class="btn btn-primary mx-2 coin-label">
                        <input type="radio" name="{{ form.coin_choice.name }}" value="fair" class="coin-input" required>
                        <img src="https://github.com/ageoldrain/infodemand1/blob/main/coin_flip/templates/coin_flip/CoinImage.png?raw=true" alt="Fair" class="coin-image">
                        <div>Fair</div>
                    </label>
                    <label class="btn btn-primary mx-2 coin-label">
                        <input type="radio" name="{{ form.coin_choice.name }}" value="biased" class="coin-input" required>
                        <img src="https://github.com/ageoldrain/infodemand1/blob/main/coin_flip/templates/coin_flip/CoinImage.png?raw=true" alt="Biased" class="coin-image">
                        <div>Biased</div>
                    </label>
                {% else %}
                    <label class="btn btn-primary mx-2 coin-label">
                        <input type="radio" name="{{ form.coin_choice.name }}" value="biased" class="coin-input" required>
                        <img src="https://github.com/ageoldrain/infodemand1/blob/main/coin_flip/templates/coin_flip/CoinImage.png?raw=true" alt="Biased" class="coin-image">
                        <div>Biased</div>
                    </label>
                    <label class="btn btn-primary mx-2 coin-label">
                        <input type="radio" name="{{ form.coin_choice.name }}" value="fair" class="coin-input" required>
                        <img src="https://github.com/ageoldrain/infodemand1/blob/main/coin_flip/templates/coin_flip/CoinImage.png?raw=true" alt="Fair" class="coin-image">
                        <div>Fair</div>
                    </label>
                {% endif %}
            </div>
        </div>

        {% if form.coin_choice.errors %}
            <div class="alert alert-danger text-center">
                {{ form.coin_choice.errors }}
            </div>
        {% endif %}

        <div class="d-flex justify-content-center">
            {% next_button %}
        </div>
    </form>
</div>
