
{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4">This is round number {{ round_number }}. The outcome of which coin would you like to reveal?
    </h2>

    <form method="post">
        <div class="d-flex justify-content-center mb-3">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary mx-2">
                    <input type="radio" name="{{ form.coin_choice.name }}" value="fair" style="display: none" required>
                    <img src="https://github.com/ageoldrain/infodemand1/blob/main/coin_flip/templates/coin_flip/CoinImage.png?raw=true" alt="Fair" style="max-width: 200px;">
                    <div>Fair</div>
                </label>
                <label class="btn btn-primary mx-2">
                    <input type="radio" name="{{ form.coin_choice.name }}" value="biased" style="display: none" required>
                    <img src="https://github.com/ageoldrain/infodemand1/blob/main/coin_flip/templates/coin_flip/CoinImage.png?raw=true" alt="Biased" style="max-width: 200px;">
                    <div>Biased</div>
                </label>
            </div>
        </div>

        {% if form.coin_choice.errors %}
            <div class="alert alert-danger text-center">
                {{ form.coin_choice.errors }}
            </div>
        {% endif %}

        <div class="d-flex justify-content-center">
            {% next_button %}
        </div>
    </form>

    <button class="accordion">Section 1</button>
<div class="panel">
  <p>
        The experiment proceeds in rounds. In each round, two coins will be flipped - a fair one (with equal probabilities of landing heads or tails), which we will call coin 1, and a biased one (with a high chance of landing heads), which we will call coin 2. You will <b>not</b> be informed of their outcomes automatically.
      </p>  
        <p>
            Thus, in each round, two coins will be flipped, and you will not know results.
        </p>
       <p> 
        Each round has two questions. First, you will be given the option to <b>find out the outcome of one of the two coins</b>. The first question will ask you which coin (the fair or the biased) you'd like to reveal. Once you choose the coin, the outcome will be revealed to you on the next page. 
        After that, you will be asked to guess the outcome of <b>both</b> coins.

        </p>

        <p>
        If you guessed correctly in the second question, you will receive $1. If not, you will receive $0. You will not, however, see whether you won or not immediately. Your winnings will be revealed only at the end of the 10 rounds.
    </p>
        <p>
            This process will continue for 10 rounds. The experiment will end after you complete all 10 rounds.
        </p>
</div>


</div>
{% endblock %}
