
{% extends "global/Page.html" %}
{% load otree %}

{% block content %}


<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
</style>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>


<div class="container">
    <h2 class="text-center my-4">This is round number {{ round_number }}. Please guess the outcome of both coins for this round:</h2>
    <h5 class="text-center my-4">Format: [Fair Coin][Biased Coin]. That is, the outcome (H or T) of the Fair coin comes first, and the outcome of the Biased coin comes second. </h5>
    
    <form method="post">
        <div class="d-flex justify-content-center mb-3">
            {% for choice in ['HH', 'TT', 'HT', 'TH'] %}
                <label class="btn btn-primary mx-2">
                    <input type="radio" name="{{ form.coin_permutation_choice.name }}" value="{{ choice }}" required> {{ choice }}
                </label>
            {% endfor %}
        </div>
        
        {% if form.coin_permutation_choice.errors %}
            <div class="alert alert-danger text-center">
                {{ form.coin_permutation_choice.errors }}
            </div>
        {% endif %}


       <button class="accordion">View Instructions</button>
<div class="panel">
  <p>
        The experiment proceeds in rounds. In each round, two coins will be flipped - a fair one (with equal probabilities of landing heads or tails), which we will call coin 1, and a biased one (with a high chance of landing heads), which we will call coin 2. You will <b>not</b> be informed of their outcomes automatically.
      </p>  
        <p>
            Thus, in each round, two coins will be flipped, and you will not know results.
        </p>
       <p> 
        Each round has two questions. First, you will be given the option to <b>find out the outcome of one of the two coins</b>. The first question will ask you which coin (the fair or the biased) you'd like to reveal. Once you choose the coin, the outcome will be revealed to you on the next page. 
        After that, you will be asked to guess the outcome of <b>both</b> coins.

        </p>

        <p>
        If you guessed correctly in the second question, you will receive $1. If not, you will receive $0. You will not, however, see whether you won or not immediately. Your winnings will be revealed only at the end of the 10 rounds.
    </p>
        <p>
            This process will continue for 10 rounds. The experiment will end after you complete all 10 rounds.
        </p>
</div>
        
        <div class="d-flex justify-content-center">
            {% next_button %}
        </div>
    </form>
</div>
{% endblock %}
