{% extends "coin_flip/CompQuestion.html" %}

{% block title %}Comprehension Question 3{% endblock %}

{% block question_text %}
Suppose that you choose to reveal one of the coins, and it is revealed to be "Tails." You do not have to enter this information in the next screen, when you are asked to guess both coins. 
{% endblock %}

{% block form_action %}
Feedback3.html
{% endblock %}

{% block content %}
    <input type="radio" id="option1" name="choice" value="option1">
    <label for="option1">True</label><br>
    <input type="radio" id="option2" name="choice" value="option2">
    <label for="option2">False</label><br>
    <button type="submit">Submit</button>
{% endblock %}
