{% extends "coin_flip/base.html" %}

{% block title %}Comprehension Question 1{% endblock %}

{% block content %}
  <p>
    In each round there are two coins that you have to guess.  
    To get paid for that round, you have to guess only one of the coins.
  </p>

  <form method="post">
    <input type="radio" id="option1" name="compq1" value="True">
    <label for="option1">True</label><br>

    <input type="radio" id="option2" name="compq1" value="False">
    <label for="option2">False</label><br>

    {{ next_button }}
  </form>
{% endblock %}
