{% extends 'coin_flip/base.html' %}

{% block title %}Comprehension Question 2{% endblock %}

{% block content %}
<form action="Feedback2.html" method="get">
    <p>The biased coin is equally likely to be biased heads or tails.</p>
    <input type="radio" id="option1" name="answer" value="true">
    <label for="option1">True</label><br>
    <input type="radio" id="option2" name="answer" value="false">
    <label for="option2">False</label><br><br>
    <button type="submit">Submit</button>
</form>
{% endblock %}
