{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}Feedback for Comprehension 3{% endblock %}
{% block content %}
<div class="container">
  <div class="text-center mb-4">
    {% if player.compq3 == "False" %}
      <p class="lead">
        CCorrect! This information is always correct, and you do need to enter this information in the next screen.
      </p>
    {% else %}
      <p class="lead">
        No, that is unfortunately not correct. This information is always correct, and you do need to enter this information in the next screen.
      </p>
    {% endif %}
  </div>
  <form method="post">
    <div class="d-flex justify-content-center">
      {{ next_button }}
    </div>
  </form>
</div>
{% endblock %}
