{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}Feedback for Comprehension Question 1{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center mb-4">
        {% if player.compq1 == "False" %}
            <p class="lead">
                Correct! You only get paid if you guess both coins correctly. 
            </p>
        {% else %}
            <p class="lead">
                That’s not quite right. Remember, you only get paid if you guess both coins correctly.
            </p>
        {% endif %}
    </div>

    <form method="post">
        <div class="d-flex justify-content-center">
            {{ next_button }}
        </div>
    </form>
</div>
{% endblock %}
