{% extends 'coin_flip/base.html' %}

{% block title %}Feedback3{% endblock %}

{% block content %}
<script>
    function displayFeedback() {
        const urlParams = new URLSearchParams(window.location.search);
        const answer = urlParams.get('answer');
        
        if (answer === 'true') {
            document.getElementById('feedback').innerHTML = "No, that is unfortunately not correct. This information is always correct, and you do need to enter this information in the next screen.";
        } else if (answer === 'false') {
            document.getElementById('feedback').innerHTML = "Correct! This information is always correct, and you do need to enter this information in the next screen.";
        } else {
            document.getElementById('feedback').innerHTML = "Please select an answer.";
        }
    }
</script>

<body onload="displayFeedback()">
    <p id="feedback"></p>
    {{ next_button }}
</body>
{% endblock %}
