<div class="card bg-light m-3">
    <div class="card-body">
    <h2>Welcome to the Study! Please read the following instructions carefully. </h2>
    <p>

        Each round has two questions. First, you will be given the option to <b>find out the outcome of one of the two coins</b>. The first question will ask you which coin (the fair or the biased) you'd like to reveal.  </p>
        <p>
        Once you choose the coin, the outcome will be revealed to you on the next page. After that, you will be asked to guess the outcome of <b>both</b> coins.
        </p>

        <p>
        In each round, each coin is "worth" either $1 or $2. These values are equally likely and will be shown to you at each round. They will, generally, be different in different rounds.  
        </p>
        <p>
        If you guessed correctly in the second question, you will receive the <b>sum of the values of both coins</b> for that round. If not, you will receive $0. You <b>must guess the outcome of both coins correctly to receive the payment.</b> Guessing only one of the two coins correctly is not enough.
        </p>


            <p>
            You will not see how much you have earned immediately; your earnings will be revealed only at the end of the experiment.

    </p>
        <p>
            This process will continue for 3 practice rounds and 10 paid rounds. The experiment will end after you complete all 13 rounds.
        </p>
        <p>
            If you complete the experiment, you will be paid the base payment of $5, plus any earnings you made during the experiment.
        </p>
    </div>
</div>
