{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<div class="card bg-light m-3">
  <div class="card-body">
    <h2>Informed Consent: Marist University Consent Form</h2>

 <h2 style="text-align: center; border: 1px solid black; padding: 10px;">Protocol Information</h2>
        <p>
            <b>Attached to Protocol</b>: S25-0308
        </p>
        <p>
            <b>Principal Investigator</b>: Andrew Kosenko, Ph.D. (andrew.kosenko@marist.edu)
        </p>
        <p>
            <b>IRB Protocol Title</b>: Cognitive Mechanisms of Information Demand
        </p>

        <h2 style="text-align: center; border: 1px solid black; padding: 10px;">General Information</h2>
        <p>
            <b>Consent Number</b>: tk
        </p>
        <p>
            <b>Participation Duration</b>: 60 minutes
        </p>
        <p>
            <b>Anticipated Number of Subjects</b>: 200 
        </p>
        
        <h2 style="text-align: center; border: 1px solid black; padding: 10px;">Risks</h2>
        <p>
            There are no anticipated risks, stress, or discomfort associated with performing this task.
        </p>

        <h2 style="text-align: center; border: 1px solid black; padding: 10px;">Benefits</h2>
        <p>
            The benefits of participating in this experiment to you are the monetary rewards you will receive. 
        </p>
        <h2 style="text-align: center; border: 1px solid black; padding: 10px;">Confidentiality</h2>
        <p>
            The following individuals, and or agencies, will be able to view your research records: the investigator(s), research
            staff, along with other professionals who may be evaluating the research. These includes authorities from Marist
            University, including the Institutional Review Board ('IRB'), and the United States Office of Human Research
            Protections ('OHRP').
        </p>
        <p>
            If at any time you have questions regarding the research, or regarding your participation in the research, you should
            contact the investigator(s) listed above. If at any time you have questions involving the conduct of this research, or
            questions about your rights as a research participant, you should contact the Marist University IRB Chair at
            (845) 575-3000, extension 2692, or email Erik.Moody@Marist.edu
        </p>
        <p>
            All data resulting from this project will be kept confidential, as will your participation in this project. Data from this
            project will be used for professional purposes only, and will be stored securely. Confidentiality will be maintained: your
            name will not be associated with the data we will be obtaining from you. The results of the data collected from this
            project will be used in academic publications and conferences.
        </p>
        <h2 style="text-align: center; border: 1px solid black; padding: 10px;">Voluntary Participation</h2>
        <p>
            1. Participation in this research study is entirely voluntary. You may refuse to participate or withdraw from participation at any time
            without jeopardy to your entitlements, although you will forfeit the earning you have made until then. The investigator(s) may withdraw you at their professional discretion.
        </p>    
        <p>
            2. If, during the course of this research project, new information about the aim of our research becomes available,
            which may relate to your willingness to continue to participate, the investigator(s) will provide this information to you.
        </p>
        <p>
            3. Any information derived from this research project that personally identifies you will not be voluntarily released or
            disclosed without your separate consent, except as specifically required by law.
        </p>
        <h2 style="text-align: center; border: 1px solid black; padding: 10px;">Additional Information</h2>
        <p>
            If you have further questions, please contact Dr. Andrew Kosenko at andrew.kosenko@marist.edu.
        </p>

    <h2 style="text-align: center; border: 1px solid black; padding: 10px;">
      Statement of Consent
    </h2>
    <p>
      I am the age of 18 years, or greater, and I agree to what is specified in this electronic consent form. I understand that my participation in this study is entirely voluntary, and that I am not waiving any of my rights as I consent to participate.
        I also understand that I have the right to withdrawal from participating in this research study at any time. 
      By typing my name in place of my signature, I am agreeing to be a participant in this study. I understand that my name will be used only for consent purposes, and delinked from my data in this experiment. Only anonymized data will be used for data analysis. If I do not agree to be a participant in this study I will exit this page.
    </p>

    <form method="post">
      <div class="mb-4">
        <label for="id_signature" class="form-label">
          Please sign (type your full name):
        </label>
        <input
          type="text"
          id="id_signature"
          name="signature"
          required
          maxlength="200"
          class="form-control"
        >
      </div>

      <div class="d-flex justify-content-center">
        {{ next_button }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
