{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}We would like to ask you two questions about this study.{% endblock %}

{% block content %}
<div class="container">

  <form method="post">
    <div class="mb-4">
      <label for="id_experiment_purpose" class="form-label h5">
        Thank you for your response! Now we would like to ask you a second question:
        What do you think the experiment was about? Again, please be as specific as you can. 
      </label>
      <textarea
        class="form-control"
        id="id_experiment_purpose"
        name="experiment_purpose"
        rows="5"
        required
        maxlength="1000"
      ></textarea>
    </div>
    <div class="d-flex justify-content-center">
      {{ next_button }}
    </div>
  </form>
</div>
{% endblock %}
